#Type {
	position: absolute;
	top: 90%;
	left: 50%;
	font-size: 20px;
	transform:translateX(-50%);
}

#name {
	position: absolute;
	top: 45%;
	left: 50%;
	transform:translate(-50%, -50%);
	font-size: 80px;
	font-weight: bold;
	font-family: "Fantasy";
}

#StartSimulation {
	position: absolute;
	font-family: "Impact";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 40px;
}


#instruction{
	font-size: 20px;
	font-family: "Arial";
}
#Answering{
	position: absolute;
	font-family: "Arial";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 20px;
}
input[type=text] {
    outline: 0;
    margin: 10px;
    padding: 12.5px 15px;
    height: 25px;
    font-size: 18px;
    border: solid 2px;
    border-radius: 8px;
    border-color: black;
	  text-decoration: none;
   vertical-align: middle;
}

button {
   border: 1px solid #000000;
   background: #9e9e9e;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9e9e9e));
   background: -webkit-linear-gradient(top, #ffffff, #9e9e9e);
   background: -moz-linear-gradient(top, #ffffff, #9e9e9e);
   background: -ms-linear-gradient(top, #ffffff, #9e9e9e);
   background: -o-linear-gradient(top, #ffffff, #9e9e9e);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #9e9e9e 100%);
   padding: 12.5px 25px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #b0b0b0 0 1px 0;
   color: #000000;
   font-size: 18px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-top: 15px;
   }
button:hover {
   border: 1px solid #3d3d3d;
   text-shadow: #4d4d4d 0 1px 0;
   background: #a1a1a1;
   background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#a1a1a1));
   background: -webkit-linear-gradient(top, #d9d9d9, #a1a1a1);
   background: -moz-linear-gradient(top, #d9d9d9, #a1a1a1);
   background: -ms-linear-gradient(top, #d9d9d9, #a1a1a1);
   background: -o-linear-gradient(top, #d9d9d9, #a1a1a1);
   background-image: -ms-linear-gradient(top, #d9d9d9 0%, #a1a1a1 100%);
   color: #fff;
   }
button:active {
   text-shadow: #545454 0 1px 0;
   border: 1px solid #3b3b3b;
   background: #d4d4d4;
   background: -webkit-gradient(linear, left top, left bottom, from(#a1a1a1), to(#a1a1a1));
   background: -webkit-linear-gradient(top, #a1a1a1, #d4d4d4);
   background: -moz-linear-gradient(top, #a1a1a1, #d4d4d4);
   background: -ms-linear-gradient(top, #a1a1a1, #d4d4d4);
   background: -o-linear-gradient(top, #a1a1a1, #d4d4d4);
   background-image: -ms-linear-gradient(top, #a1a1a1 0%, #d4d4d4 100%);
   color: #fff;
   }