body {
    font-family: "Arial";
    text-align: center;
    margin: 0px;
}

i {
    padding: 2px;
}

#content {
    margin-top: 40px;
}

.shape{
    display: inline-block;
    margin: 10px;
}


#instructions {
    text-align: justify;
    width: 500px;
    margin: auto;
    font-size: 18px;
}

#footer {
    border-top: 1px solid #efefef;
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 15px;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

#modal {
    display: none;
    align-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 9%;
    animation-name: animatetop;
    animation-duration: 1s;
    margin-top: -10px;
}

#modal-content {
    margin: auto;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    width: 82%;
    height: 100%;
    border-radius: 4px;
}

#modal-content p {
    margin-top: 20px;
    font-size: 18px;
}

@keyframes animatetop {
    from {margin-top: -300px; opacity: 1}
    to {margin-top: -10px; opacity: 1}
}

.grid-div {
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 400px;
    background-color: black;
    overflow: hidden;
    cursor: pointer;
}

.grid-div:hover {
    border-color: #ddd;
}


.block {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 25px;
    float: left;
    box-sizing: border-box;
}

.type1 {
    border: 5px solid white;
    border-radius: 1px;
    box-sizing: border-box;
}

.type2 {
    border: 10px solid white;
    border-radius: 0px;
    box-sizing: border-box;
}

.type3 {
    border: 10px solid white;
    border-radius: 25px;
    box-sizing: border-box;
}

.type4 {
    border: 1px solid white;
    border-radius: 25px;
    box-sizing: border-box;
}

button {
    width: 100px;
    height: 40px;
    background-color: white;
    font-size: 18px;
    border: solid 2px;
    border-radius: 2px;
    border-color: #e5e5e5;
    color: black;
    margin: 30px;
}

button:hover {
    background-color: #fcfcfc;
    border-color: #ddd;
    color: black;
}

.btn-continue {
    float: right;
    margin-top: 0;
}

.btn-download {
    width: 200px;
}
