#frame {
	text-align: center;
	width: 100%;
}

iframe{
	width: 700px;
	height: 400px;
	border-style: solid;
	border-width: thick;
}
h2{
	text-align: center;
	color: black;
}

body{
	text-align: center;
}
.fullscreen{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.notshown{
	visibility: hidden;
}
