#frame {
	text-align: center;
	width: 100%;
}

.content {
	width: 700px;
	height: 400px;
}

iframe {
	background-color: white;
}

h2{
	text-align: center;
	color: black;
}

body{
	text-align: center;
}

.fullscreen{
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
}

.btn-group button {
	 display: block;
	 width: 150px;
}
