/* Span recall screen */
table.table-span-recall {
  width: auto;
}

table.table-span-recall tr:first-child button {
  width: 100px;
  height: 140px;
  font-size: 2.25rem;
  /* Animate opacity */
  transition: opacity 2.25s ease-in-out 0;
}


table.table-span-recall tr:first-child button:disabled {
  opacity: 0.25;
}