body {
    font-family: "Arial";
    text-align: center;
    margin: 0px;
}

i {
    padding: 2px;
}

#content {
    margin-top: 180px;
}

#instructions {
    width: 500px;
    margin: auto;
}

#footer {
    border-top: 1px solid #efefef;
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 15px;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

input[type=text] {
    text-align: center;
    margin: 10px;
    padding: 10px;
    height: 40px;
    font-size: 18px;
    border: solid 2px;
    border-radius: 2px;
    border-color: #e5e5e5;
}

button {
    width: 100px;
    height: 40px;
    background-color: white;
    font-size: 18px;
    border: solid 2px;
    border-radius: 2px;
    border-color: #e5e5e5;
    color: black;
    margin: 30px;
}

button:hover {
    background-color: #fcfcfc;
    border-color: #ddd;
    color: black;
}
.btn-continue {
    float: right;
    margin-top: 0;
}

.btn-download {
    width: 200px;
}
